.form__container {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__name,
.form__email,
.form__description,
.form__password {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  outline: noen;
}

.form__btn {
  padding: 0.4rem 0;
  cursor: pointer;
}

.create__error_inputs {
  color: red;
}
